{% from _self import box as box %}

{% extends 'category/category_base.html.twig' %}

{% block body %}
    {{ ds2013('categoryBreadcrumb', category, categoryType) }}
    <div class="grid-wrapper">
        {{ ds2013('categorySidenav', category, categoryType) }}
        <div class=" grid-float grow-to-fit@bpw">
            <ol class="list-unstyled">
                {{ box(categoryType, category.getUrlKeyHierarchy(), 'player', tr('available_now'), 'audio-visual', 'play', availableCount) }}
                {{ box(categoryType, category.getUrlKeyHierarchy(), 'all', tr('all_programmes'), 'core', 'list-thumb', null) }}
            </ol>
        </div>
    </div>
{% endblock %}

{%- macro box(categoryType, categoryHierarchy, slice, text, iconFolder, iconName, count) -%}
    <li class="grid 1/2 1/3@bpb2 1/4@bpw 1/2@bpw1 1/3@bpw2">
        <div class="icon-box br-box-page">
            <a class="icon-box__link br-box-page__link br-page-link-onbg015 br-page-linkhover-onbg015--hover" href="{{ path('category_slice', { categoryType: categoryType, categoryHierarchy: categoryHierarchy, slice: slice }) }}">
                {{ gelicon(iconFolder, iconName, 'icon-box__icon') }}
                <h2 class="icon-box__title gamma">{{ text }}</h2>
                <p class="icon-box__note micro">
                    {{ tr('view_all') }}
                    {% if count is not null %}
                        <span class="icon-box__notedetail">({{ count }})</span>
                    {% endif %}
                </p>
            </a>
        </div>
    </li>
{%- endmacro -%}
