{% spaceless %}
    <form class="component search-bar" action="/programmes/a-z/{{ atoz_search_bar.getSlice() }}" method="GET">
        <label class="search-bar__label">
            <span class="visually-hidden">{{ tr('atoz_search_label') }}</span>
            <input
                class="search-bar__input"
                type="search"
                name="query"
                placeholder="{{ tr('atoz_search_label') }}"
                {% if atoz_search_bar.getSearch() is not empty %}
                    value="{{ atoz_search_bar.getSearch() }}"
                {% endif %}
            />
        </label>
        <button class="search-bar__button" type="submit">
            {{ gelicon('core', 'search', 'search-bar__icon') }}
            <span class="visually-hidden">{{ tr('atoz_search') }}</span>
        </button>
    </form>
{% endspaceless %}
