{% extends 'base_ds2013.html.twig' %}

{% block title %}{{ meta_context.titlePrefix() }} {{  (isIndividualImagePage) ? ' - ' ~ image.getTitle() : '' }}{% endblock %}

{% block twitter_tags %}
    {% if isIndividualImagePage %}
        <meta name="twitter:description" content="{{ image.getShortSynopsis() }}" />
        <meta name="twitter:image" content="{{ image.getUrl(560) }}">
        <meta name="twitter:image:alt" content="{{ image.getShortSynopsis() }}" />
    {% else %}
        <meta name="twitter:description" content="{{ gallery.getSynopses().getLongestSynopsis() }}" />
        {% for index, image in images|slice(0, 4) %}
            <meta name="twitter:image{{ index }}" content="{{ image.getUrl(560) }}" />
        {% endfor %}
    {% endif %}

    {% if meta_context.canonicalUrl() %}
        <meta name="twitter:url" content="{{ meta_context.canonicalUrl() }}">
    {% endif %}

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ block('title') }}" />
{% endblock %}

{% block page_classes %}programmes-page text-base programmes-page--flush prog-layout{% endblock %}

{%- block body -%}
    <div class="programmes-page prog-layout__primary br-box-page">
        <h1><span class="context">{{ ds_shared('entityContext', gallery,{
                    'include_self': false,
                }) }} </span>{{ gallery.getTitle() }}</h1>
        <p class="delta">{{ gallery.getLongestSynopsis() }}</p>

        {% if image %}
            {{ ds2013('galleryDisplay', gallery, image, images, isIndividualImagePage ,[]) }}
        {% endif %}
        {% if programme %}
            <div class="gallery-extras">
                <div class="grid-wrapper grid-wrapper--center">
                    <div class="grid 13/24@bpw2 13/24@bpe grid--bounded gallery-extras--from">
                        <div class="component component--box component--box--striped component--box-flushbody component--box--secondary">
                            <div class="component__header br-box-highlight">
                                <h2>{{ tr('galleries_context') }}</h2>
                            </div>
                            <div class="component__body br-box-page">
                                <ul class="list-unstyled highlight-box-wrapper">
                                    <li>
                                        {{- ds2013('programme', programme,{
                                            highlight_box_classes: 'highlight-box--list',
                                            title_options: {
                                                'title_tag': 'h3'
                                            },
                                            body_options: {
                                                'show_masterbrand': true,
                                                'show_child_availability': true,
                                            },
                                            ATI_prefix: 'from'
                                        }) -}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="grid 11/24@bpw2 11/24@bpe grid--bounded">
                        <div class="component component--box component--box--striped component--box--secondary galleries-link-box" >
                            {% if galleries %}
                                <div class="component__header br-box-highlight">
                                    <h2>{{ tr('galleries', galleries|length) }}</h2>
                                </div>
                                <div class="component__body br-box-subtle">
                                    <ul class="grid-wrapper highlight-box-wrapper highlight-box-wrapper--grid@bpb1 highlight-box-wrapper--grid@bpw">
                                        {%- set gridClasses = galleries|length > 1 ? '1/2@bpb1 1/2@bpw' : '' -%}
                                        {%- for siblingGallery in galleries -%}
                                            <li class="grid {{ gridClasses }}">
                                                {{- ds2013('group', siblingGallery, {
                                                    'context_programme': programme.getTleo(),
                                                    'highlight_box_classes':'highlight-box--list highlight-box--grid@bpb1 programme--grid@bpb1 highlight-box--grid@bpw programme--grid@bpw',
                                                    'img_classes': '1/1@bpb1 1/1@bpw',
                                                    'show_synopsis': false,
                                                    'title_options': {
                                                        'title_tag': 'h3',
                                                        'title_classes': 'delta'
                                                    }
                                                }) -}}
                                            </li>
                                        {%- endfor -%}
                                    </ul>
                                </div>
                                {% if brand.getAggregatedGalleriesCount() > 4 %}
                                    <div class="component__footer br-box-subtle">
                                        <a href = "{{ path('programme_galleries', {'pid':  brand.getPid() } ) }}">
                                            <span>
                                                {{ tr('see_all_galleries_from', { '%1' : brand.getTitle()}) ~ " (" ~ brand.getAggregatedGalleriesCount() ~ ')' }}
                                            </span>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{%- endblock -%}

{% block javascripts %}
    <script>
        require(['gallery'], function (gallery) {
            new gallery({
                containerSelector: '#gallery',
                previousSvg: {{ gelicon('basics', 'previous', 'gelicon--beta gelicon--center')|json_encode()| raw }},
                nextSvg: {{ gelicon('basics', 'next', 'gelicon--beta gelicon--center')|json_encode()|raw }},
            });
        });
    </script>
{% endblock %}

