{% set ati_prefix = promotion.getOption('ATI_prefix')  %}
<div class="promotion media box-link {{ promotion.getOption('media_variant') }}" id="{{ promotion.getUniqueId() }}" data-object-type="{{ promotion.getType() }}">
    <div class="media__body">
        <div class="media__details {{ promotion.getBrandingBoxClass() }}">
            <{{ promotion.getOption('h_tag') }} class="{{ promotion.getOption('title_size') }} media__meta-group">
                <a class="box-link__target {{ promotion.getTextBrandingClass() }}"
                   href="{{ promotion.getUrl() }}"
                    {{ get_ati_attributes('title', ati_prefix)|attrs }}
                >
                    {{- promotion.getTitle() -}}
                </a>
            </{{ promotion.getOption('h_tag') }}>
            {%- if promotion.getOption('show_synopsis') -%}
                <p class="{{ promotion.getOption('synopsis_size') }} media__meta-row">{{ promotion.getSynopsis() }}</p>
            {%- endif -%}
            {% if promotion.getRelatedLinks() %}
                <ul class="list-standard gel-brevier box-link__elevated">
                    {%- for link in promotion.getRelatedLinks() -%}
                        <li><a href="{{ link.getUri() }}">
                            {{- link.getTitle() -}}
                            {%- if promotion.isExternalLink(link.getUri()) -%}
                                {{- gelicon('basics', 'external-link', 'gelicon--brevier gelicon--trailing') -}}
                            {%- endif -%}
                        </a></li>
                    {%- endfor -%}
                </ul>
            {% endif %}
        </div>
    </div>
    {%- if promotion.getImage() -%}
        <div class="media__panel {{ promotion.getOption('media_panel_class') }}">
            <div class="media__overlay-container ratiobox">
                {{- ds_shared(
                    'imageEntity',
                    promotion.getImage(),
                    promotion.getOption('img_default_width'),
                    promotion.getOption('img_sizes'),
                    { 'is_lazy_loaded': promotion.getOption('img_is_lazy_loaded') }
                ) -}}
                {%- if promotion.shouldDisplayCta() -%}
                    <div class="media__overlay media__overlay--bottom" data-eq-pts="medium: 280, large: 400, super: 656">
                        {{ ds_amen_presenter(promotion.getCtaPresenter({'ATI_prefix': ati_prefix})) }}
                    </div>
                {%- endif -%}
            </div>
        </div>
    {%- endif -%}
</div>
