{% import _self as self %}
{% set title_tag = core_entity_title.getOption('title_tag') %}
{% apply spaceless %}
    <{{ title_tag }} class="programme__titles">
        <a href="{{ core_entity_title.getTitleLinkUrl() }}"
           class="br-blocklink__link block-link__target"
           {% block aria_title %}{% endblock %}
           {{ get_ati_attributes('title', core_entity_title.getOption('ATI_prefix'))|attrs }}
        >
            <span class="programme__title {{ core_entity_title.getOption('title_classes') }}">
                {{ self.render_title(core_entity_title.getMainTitle(), core_entity_title) }}
            </span>
            {% if core_entity_title.getOption('show_subtitle') and core_entity_title.getSubTitlesProgrammes() %}
                <span class="hidden">&mdash;</span>
                <span class="programme__subtitle centi">
                    {%- for subtitleProgramme in core_entity_title.getSubTitlesProgrammes() -%}
                        {{ not loop.first ? ', ' }}{{ self.render_title(subtitleProgramme.getTitle(), core_entity_title) }}
                    {%- endfor -%}
                </span>
            {% endif %}
        </a>
    </{{ title_tag }}>
{% endapply %}

{% macro render_title(title, presenter) %}
{% apply spaceless %}
        <span>{{ truncate(title, presenter.getOption('truncation_length'))}}</span>
{% endapply %}
{% endmacro %}
