{% extends "@Ds2013/Presenters/Domain/ContentBlock/content_block.html.twig" %}

{% block blockContent %}
    {% if content_block.getBlock().getIntro() %}
        <p>{{ content_block.getBlock().getIntro() }}</p>
    {% endif %}
    {% for key, question in content_block.getQuestions() %}
        <details class="component faq-item">
            <summary class="br-pseudolink">
                {{ gelicon('core', 'next', 'gelicon--delta dropdown-icon') }}
                <{{ loop.first ? content_block.newHeadingLevel() : content_block.getCurrentHeading() }} class="gamma">
                    {{ question['question'] }}
                </{{ content_block.getCurrentHeading() }}>
            </summary>
            <div class="text--prose">
                {{ question['answer']|raw }}
            </div>
        </details>
    {% endfor %}
{% endblock %}
