{% import _self as self %}

<div class="letter-nav-clamp">
    <ol class="nav delta letter-nav">
        {{ self.item('@', atoz_letter_nav.getSlice(), '0-9', atoz_letter_nav.getCurrent(), 'letter-nav__page--doublewidth') }}
        {%- for letter in atoz_letter_nav.getLetters() -%}
            {{ self.item(letter, atoz_letter_nav.getSlice(), letter, atoz_letter_nav.getCurrent()) }}
        {%- endfor -%}
        <li class="br-page-link-onbg015 letter-nav__spacer"></li>
    </ol>
</div>

{%- macro item(search, slice, text, current, classes) -%}
    <li class="br-box-page br-page-bg-onborder letter-nav__page{% if classes is not empty %} {{ classes }}{% endif %}">
        {% if text != current %}
            <a class="br-page-link-onbg015 br-page-linkhover-onbg--hover br-page-bg-ontext--hover" href="{{ path('atoz_show', { search: search, slice: slice }) }}">{{ text }}</a>
        {% else %}
            <span class="br-box-highlight">{{ text }}</span>
        {% endif %}
    </li>
{%- endmacro -%}
