{% extends 'base_ds2013.html.twig' %}
{% set disable_footer_recommendations = true %}
{% block page_classes %}text-base programmes-page--smallpush prog-layout{% endblock %}
{% block title %}{{ meta_context.titlePrefix() }} - {{ tr('you_might_also_like') }}{% endblock %}

{% block body %}
    <div class="programmes-page prog-layout__primary br-box-page">
        <h1>
            <span class="context">
                {{ ds_shared('entityContext', programme, {}) }}
            </span>
            {{ tr('you_might_also_like') }}
        </h1>

        <ol id="recommendations" class="grid-wrapper">
            {%- for item in recommendations -%}
                <li>
                    {{- ds2013('programme', item, {
                        context_programme: programme,
                        highlight_box_classes: 'highlight-box--list',
                        body_options: {
                            show_duration: false,
                        }
                    }) -}}
                </li>
            {%- endfor -%}
        </ol>

    </div>
{% endblock %}
