{% extends 'base_ds2013.html.twig' %}

{% block title %}{{ meta_context.titlePrefix() }} - {{ tr('contact_us') }}{% endblock %}

{% block page_classes %}programmes-page text-base prog-layout{% endblock %}

{% block body %}
    <div class="grid-wrapper">
        {% if ugcCampaignId is not empty %}
            <div class="grid {% if details is not null %}1/2@bpw2 7/12@bpe{% endif %}">
                <div class="component component--box component--box--primary">
                    <div class="component__body br-box-page">
                        Form
                    </div>
                </div>
            </div>
        {% endif %}
        {% if details is not null %}
            <div class="grid {% if ugcCampaignId is not empty %}1/2@bpw2 5/12@bpe{% endif %}">
                <div class="component component--box component--box--secondary">
                    <div class="component__body br-box-subtle">
                        <ul>
                            {% for detail in details %}
                                <li>
                                    <p>{{ detail.getType() }}</p>
                                    <p>{{ detail.getValue() }}</p>
                                    {% if detail.getFreetext() is not empty %}
                                        <p>{{ detail.getFreetext() }}</p>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
