<div class="icon-link {{ cta.getOption('cta_class') }} {% block extra_container_classes %}{% endblock %}">
    <a
        {% block ati_attributes %}
        {{ get_ati_attributes('cta', cta.getOption('ATI_prefix'))|attrs }}
        {% endblock %}
        class="link-complex" href="{{ cta.getUrl() }}"
       {%- if cta.getLabelTranslation() -%}aria-label="{{ tr(cta.getLabelTranslation()) }}" {%- else -%} tabindex="-1" aria-hidden="true" {%- endif -%}
    >
        <div class="icon icon-cta icon--{{ cta.getMediaIconName() }}">
            {{ gelicon(cta.getMediaIconType(), cta.getMediaIconName(), 'gelicon--programme') }}
            {%- block message -%}{%- endblock -%}
        </div>
    </a>
</div>
