{% import _self as self %}

{% extends 'topic/topic_base.html.twig' %}

{%- block topicTitle -%}
    {{- ' - ' ~ topic.getTitle() -}}
    {%- if slice is not null -%}
        {%- if slice == 'video' -%}
            {{- ' - ' ~ tr('video') -}}
        {%- elseif slice == 'audio' -%}
            {{- ' - ' ~ tr('audio') -}}
        {%- endif -%}
    {%- endif -%}
{%- endblock -%}

{% block body %}
    <div class="{{ programmeContainer is null ? 'br-box-highlight' : 'page-limit' }}">
        <div class="{{ programmeContainer is null ? 'page-limit' : 'br-box-secondary leading-gap' }}">
            <h1 class="island{% if programmeContainer is null %}--vertical{% endif %}">
                {%- if programmeContainer is not null -%}
                    <span class="context context--notop gel-double-pica">
                        {{ ds_shared('entityContext', programmeContainer) }}
                    </span>
                    <a href="{{ path('programme_topics', { pid: programmeContainer.getPid() }) }}">
                        {{- tr('topics') -}}
                    </a>
                    {{- ' - ' -}}
                {%- endif -%}
                {{- topic.getTitle() -}}
            </h1>
            {% if relatedTopics is not empty %}
                <div class="{{ programmeContainer is null ? 'grid-unit' : 'island--horizontal' }}" id="js-related-topics">
                    <h2 class="islet--vertical">
                        {{- tr('related_topics') -}}
                    </h2>
                    {{ ds_amen('topicList', relatedTopics, programmeContainer, {
                        'show_count': programmeContainer is null
                    }) }}
                </div>
            {% endif %}
            {% if programmeContainer is not null %}
                <p class="island">
                    <a href="{{ encoded_path('topic_show', { topic: topic.getId() }) }}">
                        {{- tr('topic_in_all_programmes', { '%1': topic.getTitle() }) -}}
                    </a>
                </p>
            {% endif %}
            {% if slice is not null %}
                <nav>
                    <ul class="tabs">
                        {{- self.tab(topic.getId(), tr('all'), '', slice == '') -}}
                        {% if slice == 'video' or hasVideoPage %}
                            {{- self.tab(topic.getId(), tr('video'), 'video', slice == 'video') -}}
                        {% endif %}
                        {% if slice == 'audio' or hasAudioPage %}
                            {{- self.tab(topic.getId(), tr('audio'), 'audio', slice == 'audio') -}}
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
        {% if programmeContainer is not null %}
            <div class="br-box-page island">
                {{ self.results(programmes, page, hasNextPage, programmeContainer) }}
            </div>
        {% endif %}
    </div>
    {% if programmeContainer is null %}
        <div class="page-limit br-box-page island--vertical">
            {{ self.results(programmes, page, hasNextPage, programmeContainer) }}
        </div>
    {% endif %}
{% endblock %}

{%- macro tab(topicId, text, slice, isActive) -%}
    {%- if isActive -%}
        <li class="tabs__item br-box-page">
            <span class="tabs__link">
                {{- text -}}
            </span>
        </li>
    {%- else -%}
        <li class="tabs__item">
            <a class="tabs__link" href="{{ encoded_path('topic_show', { topic: topicId, slice: slice }) }}">
                {{- text -}}
            </a>
        </li>
    {%- endif -%}
{%- endmacro -%}

{% macro results(programmes, page, hasNextPage, contextProgramme) %}
    {% import _self as self %}

    {% if programmes is not empty %}
        {% if page > 1 %}
            {{ ds_amen('paginationLink', page - 1, 'previous') }}
        {% endif %}
        <ul class="grid">
            {% for programme in programmes %}
                <li class="1/1 grid__item">
                    {{ ds_amen('programme', programme.getProgramme(), {
                        'media_variant': 'media--row',
                        'branding_name': 'page',
                        'context_programme': contextProgramme,
                        'image_options': {
                            'media_panel_class': '1/2 1/3@gel3 1/5@gel4'
                        },
                        'title_options': {
                            'text_colour_on_title_link': false,
                            'h_tag': 'h2'
                        },
                        'body_options': {
                            'show_synopsis': true,
                            'synopsis_class': 'invisible visible@gel3',
                            'show_release_date': true
                        }
                    }) }}
                </li>
            {% endfor %}
        </ul>
        {% if hasNextPage %}
            {{ ds_amen('paginationLink', page + 1, 'next', {
                'margin': false
            }) }}
        {% endif %}
    {% else %}
        <p>{{ tr('episodes_none') }}</p>
    {% endif %}
{% endmacro %}
